html {
    text-align: center;
    background: linear-gradient(to left,rgb(20, 90, 155),rgb(117, 28, 177));
    margin: auto;
}
h1 {
    font-family: 'Lobster', cursive;
    color: rgba(240, 248, 255, 0.616);
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(240, 248, 255, 0.616);
}
#avatar {
    width: 250px;
    height: 250px;
    margin-top: 5px;
    border-radius: 160px;
}
#link td {
    width: 120px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.829);
    border-radius: 5px;
}
#link {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
#link td:hover {
    background: linear-gradient(90deg, rgb(152, 27, 190), rgb(11, 89, 190), rgb(27, 50, 182), rgb(146, 21, 140), rgb(218, 73, 73), rgb(206, 53, 236), rgb(27, 152, 190));
    background-size: 400%;
    animation: animate 10s linear infinite;
    transition-duration: 600ms;
    cursor: pointer;
}
@media only screen and (min-width:472px) {
    .links {
        color: rgba(240, 248, 255);
        text-decoration: none;
        padding: 7px;
        padding-left: 40px;
        padding-right: 40px;
    }
}
